# Proteção Python
__pycache__/
*.pyc
venv/
.venv/

# Proteção de Configurações e Chaves Seguras
.env
settings.json
session_state.md
planejamentodoarquiteto.md

# Proteção de Saídas (Evitar commitar textos de OCR)
output/
